/* 全体設定 */
body {
  margin: 0;
  font-family: "Kaisei Decol", sans-serif;
  line-height: 1.8;
  color: #333;

  /* 背景に海の画像を設定 */
  background-image: url("../img/_m.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header > li {
  list-style: none;
}

header > li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}